$rose-bg: rgba(233, 75, 75, 0.911);
$blue-bg: rgb(92, 92, 224);
$yellow-color: #d6c25dd3;
$white-color: rgba(205, 218, 255, 0.993);

.project-slider {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 30px;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        width: 30%;

        .arrow-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #dbdbdb;
                padding: 5px;
                border-radius: 50%;
                color: #222222;
                cursor: pointer;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-color: #eeeeee;
                    scale: 1.1;
                }
                &:active {
                    scale: 0.8;
                }
            }
        }

    }

    .project-slider-button-image {
        overflow: hidden;
        width: 100%;
        border-radius: 0.5rem;
        // box-shadow: 0px 0px 7px 0px #646464;
        border: 2px solid rgba(233, 75, 75, 0.418);
        cursor: pointer;
        transition: all 0.4s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 7px 0px $rose-bg;
        }

        &:active {
            scale: 0.8;
        }
    }
    .project-slider-button-image.active {
        overflow: hidden;
        width: 100%;
        border-radius: 0.5rem;
        // box-shadow: 0px 0px 7px 0px #646464;
        border: 2px solid $blue-bg;
        cursor: pointer;
        transition: all 0.4s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 7px 0px $blue-bg;
        }

        &:active {
            scale: 0.8;
        }
    }

    .right {
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: start;

        .slider-image {
            border-radius: 0.5rem;
            box-shadow: 0px 0px 7px 0px #646464;
            cursor: pointer;
        }
    }
}